@tailwind base;
@tailwind components;
@tailwind utilities;

/* Verhindere Zoom auf iOS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

/* Deaktiviere Pull-to-Refresh */
html,
body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
} 